body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
}

.navbar {
    background-color: #0056b3 !important;
}

.navbar .nav-link, .navbar-brand {
    color: white !important;
}

.container {
    margin-top: 30px;
}

.btn-primary {
    background-color: #006ce0;
    border: none;
}

.btn-primary:hover {
    background-color: #004c9c;
}

.card {
    border-radius: 8px;
    border: 1px solid #d1d1d1;
}

.table thead {
    background-color: #0056b3;
    color: white;
}
