{% extends "base.html" %}
{% block content %}
<h2>Checklist – Troca de P.A.</h2>

<ul>
    <li>Mudança de cargo</li>
    <li>Inativar usuário SIBR</li>
    <li>Criar novo acesso no SIBR</li>
    <li>Enviar termo para diretoria</li>
    <li>Alterar operador CCS</li>
    <li>Mudar cargo no Teams</li>
    <li>Alterar usuário no AD (políticas)</li>
    <li>Alterar grupos do Outlook</li>
    <li>Alterar acesso da Biometria</li>
    <li>➕ Mudar patrimônio do computador/equipamentos para nova agência</li>
</ul>
{% endblock %}
